name: Deploy Dev to VPS

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build com Maven
        working-directory: app
        run: mvn clean package -DskipTests

      - name: Debug vars (sem mostrar senha)
        run: |
          echo "User: ${{ secrets.VPS_USER }}"
          echo "Host: ${{ secrets.VPS_HOST }}"

      - name: Instalar sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Copiar JAR para VPS
        run: |
          sshpass -p "${{ secrets.VPS_PASSWORD }}" scp -o StrictHostKeyChecking=no \
            app/target/api-teste-mysql-0.0.1-SNAPSHOT.jar \
            ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/home/ubuntu/develop

      - name: Rodar aplicação com perfil de desenvolvimento e porta 8081
        run: |
          sshpass -p "${{ secrets.VPS_PASSWORD }}" ssh -o StrictHostKeyChecking=no \
            ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} \
            'cd /home/ubuntu/develop && \
             nohup java -jar api-teste-mysql-0.0.1-SNAPSHOT.jar \
             --spring.profiles.active=dev > log-develop.txt 2>&1 &'
      - name: Esperar app subir (20s)
        run: sleep 20

      - name: Health Check da aplicação
        run: |
          HTTP_STATUS=$(curl -s -o /dev/null -w "%{http_code}" http://${{ secrets.VPS_HOST }}:8081/users)
          if [ "$HTTP_STATUS" -ne 200 ]; then
            echo "❌ Aplicação não respondeu com status 200. Status recebido: $HTTP_STATUS"
            exit 1
          else
            echo "✅ Aplicação respondeu com sucesso (status 200)"
          fi
